/*-----------------------------------
Goal - as few lines of CSS possible
-----------------------------------*/

body {
	font-family: Comic Sans MS /*Chalkduster, American Typewriter, Comic Sans MS, monospace*/;
	margin: 25px;
	padding: 0;
}

h1, h2 {
	font-size: 15px;
	text-transform: uppercase;
	/*position: relative;*/
}

h12, h13 {
	font-family: monospace;
	float: left;
	width: 50%;
}

p, li{
	font-size: 14px;
	line-height: 25px;
}

main {
	position:relative; 
	/*top:155px;*/
	top:30%;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 25px;
}
article {
	/*position: absolute;*/
	max-width: 800px;
	margin: 0 auto;
}

img {
	width: 100%;
}

.right {
	text-align: right;
}

.topleft {
  position: absolute;
  top: 50px;
  left: 18%;
  font-size: 18px;
  width: 30%;
}

.topright {
  position: absolute;
  top: 50px;
  left: 55%;
  font-size: 18px;
  width: 30%;
}